.encabezado{
    width:100%;
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
}

.campos {
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 0;
    margin-top: 0;
}

.enca-izq {
    width:35%;
    text-align:left;
    vertical-align:bottom;
}
.enca-mid-0 {
    width:1%;
    font-size:12px;
}

.enca-mid-1 {
    width:34%;
    font-size:12px;
}

.enca-der {
    width:30%;
    font-size:12px;
    text-align:center;
}
.main-page{
    padding:0;
    margin:0;
    height: 100%;
}

.main-footer {
    bottom:0;
    width:100%;
    margin-top:50px
}

.w-5{
    width:5%;
}

.w-10{
    width:15%;
}

.w-15{
    width:15%;
}

.w-20{
    width:20%;
}

.w-30{
    width:30%;
}

.w-35{
    width:35%;
}

.w-55{
    width:55%;
}

.w-60{
    width:60%;
}
