* {
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.clearfix {
    clear: both;
}

.border {
    border: 1px solid #ccc;
}

.no-border {
    border: none !important;
}

.border-t {
    border-top: 1px solid #ccc;
}

.border-b {
    border-bottom: 1px solid #ccc;
}

.border-l {
    border-left: 1px solid #ccc;
}

.border-r {
    border-right: 1px solid #ccc;
}

#logo {
    width: 160px;
}

#asunto {
    margin: 15px 0;
}

.linea {
    width: 100%;
    padding: 2px 0;
    border-bottom: 1px solid #ccc;
}

.col-25 {
    min-height: 10px;
    width: 25%;
    float: left;
}

.col-33 {
    min-height: 10px;
    width: 33%;
    float: left;
}

.col-50 {
    min-height: 10px;
    width: 50%;
    float: left;
}

.col-75 {
    min-height: 10px;
    width: 75%;
    float: left;
}

.col-100 {
    min-height: 10px;
    width: 100%;
    float: left;
}

.title-desc {
    background-color: #f2f2f2;
    font-size: 12px;
    text-align: left;
    padding: 4px 6px;
    font-weight: semi-bold;
}

#firma {
    width: 100%;
    margin-top: 50px;
}

.firma-derecho {
    background-color: #f2f2f2;
    padding: 6px 10px;
    font-weight: bold;
    float: right;
}

.firma-izquierdo {
    padding: 6px 10px;
    font-weight: bold;
    float: left;
}

.font-11 {
    font-size: 11px !important;
}

.font-10 {
    font-size: 10px !important;
}

.bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.p-6 {
    padding: 6px;
}

.no-padding {
    padding: 0 !important;
}